<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpikyApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4C2D934BE7A5D181B1CE9F6BA8098DC24E7AEC06</string>
				<key>dateExpires</key>
				<string>23/10/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3HYDX58NGZ.org.spiky.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3HYDX58NGZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SpikyApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b94391a4-2ded-47db-bc15-9a0e90a01df3</string>
				<key>dateExpires</key>
				<string>23/10/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.spiky.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3HYDX58NGZ</string>
				<key>name</key>
				<string>Fernanda Gallo</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
